



<a href="/static/index.html" class="flex items-center hover:bg-neutral-800 pl-6 pr-5" hx-get="/static/index.html"
    hx-target="#main-content" hx-swap="innerHTML">
    
    <img src="icons/bash.svg" alt="home.sh icon" class="icon mr-2">
    
    home.sh
</a>



<a href="/static/about.html" class="flex items-center hover:bg-neutral-800 pl-6 pr-5" hx-get="/static/about.html"
    hx-target="#main-content" hx-swap="innerHTML">
    
    <img src="icons/markdown.svg" alt="about.md icon" class="icon mr-2">
    
    about.md
</a>



<a href="/static/contact.html" class="flex items-center hover:bg-neutral-800 pl-6 pr-5" hx-get="/static/contact.html"
    hx-target="#main-content" hx-swap="innerHTML">
    
    <img src="icons/css.svg" alt="contact.css icon" class="icon mr-2">
    
    contact.css
</a>



<details>
    <summary class="flex items-center hover:bg-neutral-800 pl-3 pr-5">
        
        <img src="icons/folder-markdown.svg" alt="projects icon" class="icon mr-2">
        
        <a href="" hx-get="" hx-target="#main-content" hx-swap="innerHTML">
            projects
        </a>
    </summary>
    <div class="flex flex-row justify-between hover:bg-neutral-800">
        <div class="basis-3/12"></div>
        <p class="basis-9/12">Coming Soon</p>
    </div>
</details>



<details>
    <summary class="flex items-center hover:bg-neutral-800 pl-3 pr-5">
        
        <img src="icons/folder-markdown.svg" alt="posts icon" class="icon mr-2">
        
        <a href="" hx-get="" hx-target="#main-content" hx-swap="innerHTML">
            posts
        </a>
    </summary>
    <div class="flex flex-row justify-between hover:bg-neutral-800">
        <div class="basis-3/12"></div>
        <p class="basis-9/12">Coming Soon</p>
    </div>
</details>



<a href="https://github.com/llama887" class="flex items-center hover:bg-neutral-800 pl-6 pr-5" hx-get="https://github.com/llama887"
    hx-target="#main-content" hx-swap="innerHTML">
    
    github
</a>

